*{
    box-sizing : border-box;
    margin : 0; 
    padding : 0;
}

/******* Global CSS variable *******/

:root {
    /* font */
    --font-title : 'Montserrat', sans-serif;
    --font-content : 'Roboto Condensed', sans-serif;
    /* color*/
    --light-yellow : #f4f7dc;
    --super-dark-cyan : #003f3f;
    --dark-cyan : #008b8b;
    --middle-cyan : #00bebe;
    --middle-light-cyan : #d2ffff;
    --light-cyan : #d1ffff;
    --super-dark-grey : #18191b;
    --dark-grey : #51565d;
    --middle-grey: #757c86;
    --orange : #ffa500;
    --orange-red : #ff4500;
    --gold : #ffd700;
    --light-slate-gray : #778899;
    --white : #ffffff;
}

.top_title{
    margin : 3rem auto;
    font-weight : 800;
    color : var(--dark-cyan);
    font-family : var(--font-title);
    text-align : center;  
}

.input_field{
    font-size : 20px;
    font-family : var(--font-title);
    margin : 2rem auto;
    color : var(--orange);
    font-weight: 700;
    text-align: center;
}

#description, #amount, #input_type{
    font-size : 20px;
    outline : none;
    margin : 1rem;
}

.add_info_btn{
    padding: 0.5rem 1.5rem;
    background-color : var(--dark-cyan);
    color : white;
    font-size : 20px;
    outline : none;
    border-radius : 10%;
}

.add_info_btn:focus{
    padding: 0.5rem 1.5rem;
    background-color : var(--orange);
    font-size : 20px;
    outline : none;
    border-radius : 10%;
}

.account_info_display{
    margin-top : 5rem;
}

.incomes_expenses{
    margin : auto;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    width : 95%;
}

.incomes, .expenses{
    padding : 1.5rem;
    border : 1px var(--dark-grey) solid;
    background-color :#f4f7dc;
}

.title{
    text-align: center;
    font-family: var(--font-content);
    font-size : 30px;
    color: var(--light-yellow);
    background-color : var(--dark-grey);
    padding : 1rem;
}

.income_display, .expense_display{
    font-size : 20px;
    padding : 2rem;
    border : 1px grey solid;
    display : flex;
    flex-direction : column;
    font-family: var(--font-content);
}

.income_display li, .expense_display li{
    padding : 0.5rem;
    list-style-type: none;
}

.income_display li span, .expense_display li span{
    color : #003f3f;
    margin : auto 20px;
    font-size : 23px;
}

.balance_display{
    text-align: center;
    font-family: var(--font-content);
    padding : 2rem auto; 
    font-size : 30px;
    color: var(--orange);
    margin-top : 2rem;
}
